# Ignorar carpeta data
data/

# Ignorar carpeta de imágenes temporales
dummy_images/

# Ignorar archivo .env
.env

# Ignorar carpetas de caché
__pycache__/
pycache_*/

# Ignorar archivos .faiss
*.faiss